<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3fe96121-c277-49a2-8137-4844830eebc6/resourceGroups/lostitemapprg/providers/Microsoft.ContainerRegistry/registries/lostitemapprg</ResourceId>
    <ResourceName>lostitemapprg</ResourceName>
    <ResourceGroup>lostitemapprg</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://lostitemapprg.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a6674161-82f1-4438-ab0c-a3f0072ae14b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>