<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3fe96121-c277-49a2-8137-4844830eebc6/resourceGroups/rg-lostitem-dev-001/providers/Microsoft.ContainerRegistry/registries/AuthService</ResourceId>
    <ResourceName>AuthService</ResourceName>
    <ResourceGroup>rg-lostitem-dev-001</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://authservice.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a97b96fb-d0cf-4602-9f95-0987cc5a376c</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>